[submodule "devops-git"]
	path = devops-git
	url = https://github.com/WeisonWei/devops-git.git
[submodule "devops-maven"]
	path = devops-maven
	url = https://github.com/WeisonWei/devops-maven.git
[submodule "devops-linux"]
	path = devops-linux
	url = https://github.com/WeisonWei/devops-linux.git
[submodule "devops-docker"]
	path = devops-docker
	url = https://github.com/WeisonWei/devops-docker.git
